:root {
  --main-bg-color: rgb(255, 248, 231);
  --main-font-color: rgb(0, 0, 0);
  --theme-primary: rgb(254, 202, 27);
}



html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0.75em;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

ul {
  list-style: none;
}


.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.top-nav {
  background-color: #81b29a;
}

.top-nav-font {
  color: #ffc;
}

.page {
  margin-top: 100px;
}

.user-page {
  margin-top: 100px;
}

.user-form {
  border: black solid;
}