/* :root {
  --main-bg-color: rgb(255, 248, 231);
  --main-font-color: rgb(0, 0, 0);
  --theme-primary: rgb(254, 202, 27);
}



html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0.75em;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

ul {
  list-style: none;
}


.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.top-nav {
  background-color: #81b29a;
}

.top-nav-font {
  color: #ffc;
}

.page {
  margin-top: 100px;
}

.user-page {
  margin-top: 100px;
}

.user-form {
  border: black solid;
} */

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}



p {
  color: #fff;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.brand-text {
  text-decoration: none;
  color: #fff;
}

.brand-text:hover {
  color: #C1F4C5;
}
/* Container Section */

.container-fluid {
  padding: 7% 15%;
  margin: 0 auto;
}

.bg-color {
  background-color: #65C18C;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}
/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* Title Image */



.title-image {
  width: 22%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* Features Section */

#features {
  padding: 7% 15%;
  position: relative;
  background-color: #65C18C;
  color: #fff;
  margin: auto -23.5% auto -23.5%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-icon {
  margin-bottom: 1rem;
  color: #fff;

}

.feature-icon:hover {
  color: #C1F4C5;

}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #fff;
  color: #000;
  margin: auto -23.5% auto -23.5%;
  padding: 7% 15%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}

.carousel-item {
  padding: 7% 15%;
}

#press {
  text-align: center;
  padding-bottom: 3%;
  margin: auto -23.5% auto -23.5%;
}

.press-logo {
  width: 50%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
  background-color: #65C18C;
  margin: auto -23.5% auto -23.5%;
}

.price-tier {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 3rem;
}
.card-body > p {
  color: #000;
}
/* Call To Action */

#cta {

  color: #000;
  text-align: center;
  padding: 7% 15%;

}


/* Footer */

#footer {
  background-color: #65C18C;
  text-align: center;
  padding: 7% 15%;
  margin: auto -23.5% auto -23.5%;

}

.social-icon {

  margin: 20px 10px;
}

@media (max-width: 1028px) {
  .title-image {
      position: static;
      transform: rotate(0);
  }
}

/* Park List Item Cards */

.amenity-items {
  list-style: none;
}

/* Event List Item Cards */

.event-name {
  text-decoration: none;
  color: #fff;
}